---
import ResetPasswordForm from "@/components/auth/ResetPasswordForm";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Resetowanie hasła">
  <main class="container flex min-h-screen items-center justify-center py-12">
    <ResetPasswordForm client:load />
  </main>
</Layout>
